# ignore compiled files  or sources 

target/
bin/
test/resources/Files
node_modules/

scheduleassets/dist/
scheduleassetsmanager/dist/
schedulemanager/dist/ 
lecturescheduleassetsmanager/dist/
coursescheduleassetsmanager/dist/
frontendutilities/dist/
frontend/dist/

# excecpt for css / js files from the template 
! */vendors/bootstrap/dist/*
! */vendors/jqvmap/dist/*
! */vendors/jquery/dist/*
! */vendors/Chart.js/dist/*
! */vendors/gauge.js/dist/*

# ignore Tool settings data 

.settings 
.classpath 
.project
.DS_Store
.metadata
.recommenders
.springBeans 
.bowerrc


# ignore experimental code 

typescript/
typescriptOriginal/
documentation/
production

# ignore modules 

# ignore Assets 

ScheduleFiles/


# ignore files
.vscode/
package-info.java
changelog.md
LICENSE.txt
README.md
*.orig
core/src/main/resources/application.properties
core/src/main/resources/static/js/lecturescheduleassetsmanager/main.*
core/src/main/resources/static/js/schedulemanager/scripts.*
core/src/main/resources/static/js/schedulemanager/main.*
core/src/main/resources/static/js/coursescheduleassetsmanager/main.*
core/src/main/resources/static/js/coursescheduleassetsmanager/scripts.*
core/src/main/resources/static/js/coursescheduleassetsmanager/scripts.*
core/src/main/resources/static/js/lecturescheduleassetsmanager/scripts.*
core/src/test/resources/Files/*
core/src/main/java/core/backend/NonREST/IndexPageController.java.orig
core/src/main/java/core/backend/NonREST/ScheduleManagerPageController.java.orig
core/src/main/resources/static/templates/fragments/lecturescheduleassetsmanager.html.orig
resources/src/main/java/resources/components/filehandler/assetsmanager/FileRepositoryManager.java.orig
