<div class="x_panel contents_view">  
  <div class="col-md-12 col-sm-12 col-xs-12">
          
    <div class="x_title"> 
      <h2>Passwortänderung</h2>
      
      <ul class="nav navbar-right panel_toolbox">
        <li>
            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a> 
        </li> 
      </ul>
            
      <div class="clearfix"></div>
    </div>
         
    <div class="x_content" style="display: block;">
      
            
        <label >Bestehendes Passwort:&nbsp;</label>  
            <input type="password" 
                    id="existingPassword" 
                      class="form-control" 
                        name="existingPassword"
                         [(ngModel)]="existingPassword"            
            required>
        <br>
        <label>Neues Passwort:&nbsp;</label>
              <input type="password" 
                        id="newPassword" 
                          class="form-control" 
                            name="newPassword" 
                              [(ngModel)]="newPassword"                
              required>
        <br>
        <label for="email">Neues Passwort: (wiederholt)&nbsp;</label>
              <input type="password" 
                          id="newPasswordRepeated" 
                            class="form-control" 
                              name="newPasswordRepeated" 
                                  [(ngModel)]="newPasswordRepeated"   
                required>
        <br>
        <label>
              <input  passwordBar  type="checkbox" > Passwörter sichtbar machen 
        </label>
      
        <div class="container">
          <div *ngIf="CURRENTPASSWORDCHANGESTATE == 'BOTHNOTFILLED'"  class="alert alert-warning">
             <strong>&nbsp;Die neuen Passwörter wurden nicht ausgefüllt&nbsp;</strong>
            </div>
           <div *ngIf="CURRENTPASSWORDCHANGESTATE == 'BOTHNOTMATCH'"  class="alert alert-danger">
             <strong>&nbsp;Die neuen Passwörter stimmen nicht überein&nbsp;</strong>
          </div>
          <div *ngIf="CURRENTPASSWORDCHANGESTATE == 'PASSWORDCHANGED'"  class="alert alert-success">
              <strong>&nbsp;Das Passwort wurde erfolgreich geändert&nbsp;</strong>
           </div>
        </div>
       
         
       <button  (click)="changePassword()"  *ngIf="CURRENTPASSWORDCHANGESTATE == 'PASSWORDCANBECHANGED'" type="button" class="btn btn-primary">&nbsp;Passwort ändern&nbsp;</button>
                  
      
          </div>
        </div>
      </div>
