 
<div class="col-md-6 col-sm-6 col-xs-6">
        <label>&nbsp;Fachsemester einblenden: </label>

        <select *ngIf="scheduleData" id="semsesterSelectbox" class="form-control"  [(ngModel)]="scheduleData.selectedSemesterValue">
                <option *ngFor="let semester of scheduleData.semesterNr" > {{semester}} </option>      
        </select>
</div>
 
 
<div class="col-md-6 col-sm-6 col-xs-6">
        <label>&nbsp;Übungen einblenden: </label>
        
        <select *ngIf="scheduleData" id="practiceSelectedSelectbox" class="form-control"  [(ngModel)]="scheduleData.selectedPracticeChoice">
                <option *ngFor="let choice of scheduleData.choices" > {{choice}} </option>      
        </select>         
</div>

<br>
<div   id="schedule">
    <table  *ngIf="scheduleData"> 
      <tbody >  
          <tr id="headline">
              <th *ngFor="let head of scheduleData.heads">
                {{head}}
              </th> 
          </tr>
          <tr *ngFor="let time of scheduleData.times">
             
            <td>{{ time }}</td> 
            <td class="table_cell" *ngFor="let day of scheduleData.days">
                <lecture-component [day]="day" 
                                        [time]="time" 
                                           [semester]="scheduleData.selectedSemesterValue"
                                              [parallelSemester]="scheduleData.getParallelSemester(scheduleData.selectedSemesterValue)"
                                                  [course]="scheduleData.selectedCourseNameValue"
                                                      [parallelCourse]="scheduleData.selectedParallelCourseNameValue"  
                                                         [parallelCourseChoice]="scheduleData.choisesDict.getValue(scheduleData.selectedParallelCourseChoice)"
                                                            [practiceChoice]="scheduleData.choisesDict.getValue(scheduleData.selectedPracticeChoice)"
                                                                [lectureProperties]="scheduleData.lecturesList" 
                                                                    [attr.id]="day + '' + time"  >
                </lecture-component> 
            </td> 
          </tr> 
      </tbody>
    </table>
</div> 

<br>
<div  class="col-md-6 col-sm-6 col-xs-6">
    <button type="button" id="screenshotButton" class="btn btn-warning"(click)="createScreenshot()">Screenshot anfertigen</button>
</div>
 
 
<style> 
 .table_cell{ 
    width: 20%;
}
</style>

