<style>
.contents_view{
    color: #004C93;
    border: 0px solid;
    background: #efe4bf;
}

</style>

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel contents_view">
      <div class="x_title">
             <h2>&nbsp;${Headline}&nbsp;</h2>
             <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div><p>${Content}</p></div>
      </div>
      <div>
            <div class="x_content">
                    <div class="ln_solid"></div>
                    <p>${Foot}</p>
            </div>       
      </div>
    </div>
  </div>