<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CoursescheduleAssetsManager</title>
  <base href="/">   
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="../../js/coursescheduleassetsmanager/styles.34c57ab7888ec1573f9c.css"></head>
<body>
  <coursescheduleassetsmanager-root></coursescheduleassetsmanager-root>
<script type="text/javascript" src="../../js/coursescheduleassetsmanager/runtime.4ad3789f407511e382b4.js"></script><script type="text/javascript" src="../../js/coursescheduleassetsmanager/polyfills.2f4a59095805af02bd79.js"></script><script type="text/javascript" src="../../js/coursescheduleassetsmanager/scripts.ad748f54b506b23d6ad6.js"></script><script type="text/javascript" src="../../js/coursescheduleassetsmanager/main.3f134fe6873afa4e007c.js"></script></body>
</html>
