<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Scheduleassets</title>
  <base href="/">   
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="../../js/lecturescheduleassetsmanager/styles.34c57ab7888ec1573f9c.css"></head>
<body>
  <lectureschedulemanager-root></lectureschedulemanager-root>
<script type="text/javascript" src="../../js/lecturescheduleassetsmanager/runtime.ef83bb6b855710208098.js"></script><script type="text/javascript" src="../../js/lecturescheduleassetsmanager/polyfills.2f4a59095805af02bd79.js"></script><script type="text/javascript" src="../../js/lecturescheduleassetsmanager/scripts.ad748f54b506b23d6ad6.js"></script><script type="text/javascript" src="../../js/lecturescheduleassetsmanager/main.6fd35918a3b9981ba88f.js"></script></body>
</html>
