<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Stundenplan</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="../../js/schedulemanager/styles.34c57ab7888ec1573f9c.css"></head>
<body>
  <courseschedulemanager-root></courseschedulemanager-root>
<script type="text/javascript" src="../../js/schedulemanager/runtime.69466a1230bde993af24.js"></script><script type="text/javascript" src="../../js/schedulemanager/polyfills.2f4a59095805af02bd79.js"></script><script type="text/javascript" src="../../js/schedulemanager/scripts.bdb14dedbbd219070945.js"></script><script type="text/javascript" src="../../js/schedulemanager/main.8efd9c5e35d6dfc417ff.js"></script></body>
</html>
 